#bg{
  background-color: green;
}
#tasaDiv{
  /*padding-top: 50px;*/
  padding-bottom: 50px;
  font-family: sans-serif;
  position: relative;
  margin: auto;
  text-align: center;
  height: 100px;
  width: 800px;
  color: white;
  background-color: blue;
}

#firstDiv{
  position: absolute;
  bottom: 5px;
  float: left;
  height: 400px;
  with: 1000px;
  background-color: lightgreen;
  color: white;
}
